body {
  background: linear-gradient(135deg, #e3f2fd, #e8f5e9, #f3e5f5);
  font-family: "Poppins", sans-serif;
  background-image: url('../assets/pexels-ella-olsson-572949-1640773.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
}


main {
  padding: 40px 0; 
 
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.max-w-4xl {
  background: #ffffffd8;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 120px;
  margin-right: 120px;
  animation: fadeIn 0.8s ease-in-out;
}


h1 {
  color: #25eb56;
  font-weight: 700;
  margin-bottom: 25px; 
}

h2 {
  color: black ;
  font-weight: 600;
  margin-bottom: 15px;
}

h3 {
  color: #333;
  font-weight: 500;
  margin-bottom: 8px;
}


p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 12px;
}


.bg-white {
  background: #ffffffd8;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px 30px; 
  margin-bottom: 25px; 
}


.bg-gradient-to-r {
  background: linear-gradient(135deg, #25eb56,  #25eb56);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 25px 30px;
  border-radius: 16px;
}

button a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
 color: black;
}

button {
  background: linear-gradient(135deg,  #25eb56, #0dfd4d);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

button:hover {
  background: linear-gradient(135deg,  #25eb56, #0dfd4d);
  transform: translateY(-2px);
  
}


.grid {
  display: grid;
  gap: 15px; 
}

@media (max-width: 768px) {
  .max-w-4xl {
    padding: 20px;
    margin: 20px 10px;
    width: auto;
  }

  .bg-white,
  .bg-gradient-to-r {
    padding: 15px;     
    margin-bottom: 20px;
  }

   h1 {
    font-size: 1.6rem;
    text-align: center;
  }
  h2, h3 {
    font-size: 1.2rem;
    text-align: center;
  }

   p {
    font-size: 0.95rem;
    line-height: 1.4;
    text-align: justify;
  }

  .grid {
    grid-template-columns: 1fr; 
    gap: 15px;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }
}
