
.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  box-sizing: border-box;
}


.logo {
  height: 120px; 
  width: auto;
}

.login-btn {
  margin-left: auto; 
}

.navbar .rightSide {
  display: flex;
  align-items: center;
  gap: 15px; 
  flex:1;
}

.navbar a {
  color: #25eb56;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: color 0.3s;
}

.navbar a:hover {
  text-decoration: underline;
  color: black;
}


.login-btn a {
  background-color: #25eb56;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.login-btn a:hover {
  background-color: #25eb56;
}


.hamburger {
  display: none; 
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #25eb56;
  border-radius: 3px;
}


@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    z-index: 20;
  }

 
  .navbar .rightSide {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    display: none;   
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
  }


  .rightSide.active {
    display: flex;
  }

  .rightSide a, .login-btn {
    width: 90%;
    text-align: center;
    margin: 5px 0;
  }

  .logo {
    height: 80px;
  }
}
