.navbar {
   width: 100%;
  height: 100px;
  background-color:white;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}


.navbar .rightSide {
 flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: #25eb56;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #25eb56;
  cursor: pointer;
}
.navbar .rightSide a:hover {
  text-decoration: underline;
  color: black;
}


.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
.login-btn{
  display: flex;
  align-items: center;
}
.login-btn a {
  background-color: #25eb56;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.6s;
  
}

.login-btn a:hover {
  background-color: #1eb94a;
}
@media only screen and (max-width: 786px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .logo {
    height: 80px;
  }

}

@media only screen and (max-width: 600px) {
   .login-btn {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navbar .rightSide a {
    display: none;
  }

 /*justify-content: flex-end;
    padding-right: 50px;*/
  .navbar .rightSide {
     flex-direction: column;
     align-items: center;
     gap: 10px;
  }

  .navbar .rightSide button {
    display: block;
  }

  .rightSide {
     top: auto;
    bottom: 20px;
    right: 10px;
    left: 10px;
    width: auto;
    max-width: calc(100vw - 20px);
    padding: 12px;
    border-radius: 12px;

  }
}

.logo-container {
  flex-shrink: 0;
}

.logo {
  height: 140px;
  width: auto;
}






