.navbar {
   width: 100%;
  height: 100px;
  background-color:white;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;

}


.navbar .rightSide {
 flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: #25eb56;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #25eb56;
  cursor: pointer;
}
.navbar .rightSide a:hover {
  text-decoration: underline;
  color: black;
}


.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
.login-btn{
  display: flex;
  align-items: center;
}
.login-btn a {
  background-color: #25eb56;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.6s;
  
}

.login-btn a:hover {
  background-color: #1eb94a;
}


.hamburger {
  display: none; /* hide on desktop */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #25eb56;
  border-radius: 3px;
}

/* Mobile menu */
@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .rightSide {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    display: none; /* hidden by default */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .rightSide.active {
    display: flex; /* show when hamburger clicked */
  }

  .login-btn {
    margin-top: 10px;
  }


  .logo {
    height: 50px;
  }
}


.logo {
  height: 140px; 
  width: auto;
}
